:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

 * {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

nav {
    display: flex;
    background-color: var(--gunmetal);
    justify-content: space-between;
    align-items: center;

}

nav > #logo {
    color: var(--chartreuse);
    height: 10%;
    width: 10%;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 2em;
    box-sizing: border-box;
    height: 1em;
}

nav > a:hover {
    background-color: var(--chartreuse);
}