:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

 * {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

nav {
    display: flex;
    background-color: var(--gunmetal);
}

nav > #logo {
    color: var(--chartreuse);
    height: 20%;
    width: 15%;
}