:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

 * {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

nav {
    display: flex;
    background-color: var(--gunmetal);
    justify-content: space-between;
    align-items: center;

}

nav > #logo {
    color: var(--chartreuse);
    height: 10%;
    width: 10%;
}


.title {
    display: flex;
    flex-direction: column;
    background-color: var(--chartreuse);
}

.title > .postheader {
    padding-left: 20dvw;
    padding-top: 1em;
    padding-right: 15dvw;
    color: var(--gunmetal);
}

#date {
    font-size: 0.75em;
}

.title > img {
    height: 20dvh;
    width: 60dvw;
    justify-content: center;
    align-self: center;
    padding-top: 1em;
    padding-bottom: 1em;
    filter: grayscale(100%);
}

main > p {
    padding-top: 1em;
    padding-left: 20dvw;
    padding-right: 15dvw;
    padding-bottom: 2em;
}

a {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.5em;

}