/* main color scheme added from initial pages */
:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

/* set basic parameters for blog page htmls */
 * {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* logo postioned in top left. inially to have nav bar on top right, however believe only having logo looks better. nav back home on bottom of page via anchor link */

nav {
    display: flex;
    background-color: var(--gunmetal);
    justify-content: space-between;
    align-items: center;

}

nav > #logo {
    color: var(--chartreuse);
    height: 10%;
    width: 10%;
}


.title {
    display: flex;
    flex-direction: column;
    background-color: var(--chartreuse);
}

.title > .postheader {
    padding-left: 20dvw;
    padding-top: 1em;
    padding-right: 15dvw;
    color: var(--gunmetal);
}

.title > h1 {
    font-family: "Charis SIL", serif;
    font-size: 2em;
}


#date {
    font-size: 0.75em;
}

.title > img {
    height: 20dvh;
    width: 60dvw;
    justify-content: center;
    align-self: center;
    padding-top: 1em;
    padding-bottom: 1em;
    filter: grayscale(100%);
}

/* main content */

main > p {
    padding-top: 1em;
    padding-left: 20dvw;
    padding-right: 15dvw;
    padding-bottom: 2em;
}

/* nav back to blog section id of initial index.html */
a {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3em;
    padding-right: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gunmetal);
    padding-top: 20dvh;
    font-size: 1em;
    width: 50%;
    padding-left: 1em;
}