:root {
    /* color theme */
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;

    /*  font for name in header only */

    .charis-sil-bold {
        font-family: "Charis SIL", serif;
        font-weight: 700;
        font-style: normal;
      }
    }

    /* set basic parameters for entire document incl font style */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gunmetal);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    transition: 1s;
}

/* header styling - main logo featured as only thing visible in mobile view */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5dvh;
    width: 100%;
    padding: 0;
    background-color: rgba(36, 47, 52, 0)
}

.mainlogo {
    color: var(--chartreuse);
    position: fixed;
    top: 6px;
    left: 6px;
    background-color: rgba(36, 47, 52, 0)
}

.mainlogo > img {
    height: 15%;
    width: 15%;
    background-color: rgba(36, 47, 52, 0)
}

/* menu styles - visible in larger viewports, as scrolling is 
less likely to be used for navigation, also serves aesthetic purpose. menu is styled with 
appropriate styling and has pseudoclass of hover, with cahnges to background color. flex box utilised and 
fixed to right side position */

.menu {
    display: flex;
    position: fixed;
    padding: 0;
    border: none;
    justify-content: flex-end;
}

.menu ul {
  list-style: none;
  padding-right: 10px;
  text-align: right;
}

.menu ul li {
  padding: 0;
  margin: 0;
}

.menu ul li a:link, .menu ul li a:visited {
  display: inline-block;
  padding: 15px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.menu ul li a:hover {
  background-color: var(--chartreuse);
  color: var(--gunmetal);
}


/* styling for main body -flex box as parent */

main {
    display: flex;
    flex-direction: column;
    margin-top: 25dvh;
    padding-left: 15%;
    padding-right: 15%;
}

/* main homepage styling- main page, seperate font for aesthetic and visual appeal for one heading.*/

.homepage {
    display: flex;
    flex-direction: column;
    color: var(--chartreuse);
    padding-right:15%;
    padding-bottom: 5dvh;
}

.homepage > h6 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 20px;
}

.homepage > h1 {
    font-family: "Charis SIL", serif;
    font-size: 2.5em;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 15px;
    font-style: normal;
}

.homepage > p {
    font-size: 1em;
    color: var(--white);
    float: right;
    margin-right: 0px;
    margin-top: 2dvh;
    margin-bottom: 5dvh;
}

/* icon styling - contact icons are anchor links. scroll down only visible in mobile view where scroll nav is used*/

.contact-icons {
    display: flex;
    margin-bottom: 5dvh;
}

.contact-icons > a {
    flex-direction: row;
    max-width: 100%;
    color: var(--chartreuse);
    margin-top: 1em;
    font-size: 20px;
    text-decoration: none;
}

.contact-icons > a > i {
    padding-right: 1em;
}

#scrolldown > aside {
    color: var(--white);
    font-size: 0.65em;
    display: flex;
    justify-content: end;
}
#scrolldown > a {
    display: flex;
    justify-content: end;
    font-size: 2em;
    margin-bottom: 15dvh;
    text-decoration: none;
}


/* About styling - simple about page with para text and floating image*/

 
.aboutpage > h1 {
    color: var(--chartreuse);
    font-weight: 600;
    font-size: 2em;
    padding-top: 20dvh;
}

#portrait {
    float: right;
    height: 8em;
    width: 8em;
    border-radius: 2em;
    padding: 1em;
}

.aboutpage > p {
    color: var(--white);
}

#aboutdevimage {
    display: flex;
    justify-content: center;
    height: 15dvh;
    width: 100%;
    padding-bottom: 15dvh;
}

/* career styling - flexbox paragraphs in column. read more check box utilised to reduce content load in mobile view
checkbox given visible sister labels to use as buttons and original checkbox made invisible*/

.careerpage {
    color: var(--white);
}

.careerpage h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.careercontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}
  
#ch {
    display: none;
}

#ch:checked ~ .extra-content {
    transition: 0.5s ease;
    display: block;
}

#ch:checked ~ label {
    display: none;
}

label {
    cursor: pointer;
    color: white;
    background-color: var(--gunmetal);
    font-weight: 500;
    text-decoration: underline;
}

.extra-content {
    display: none;
}


/* experience styling - */

.experience {
    color: var(--white);
    padding-top: 20dvh;
}

.experience > h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.expcontent > p > i {
    color: var(--chartreuse);
}

/* blog styling  - flex box styled with multiple images. images and titles used as links. media responsiveness added 
and explained in comment below. the images will appear grayscale in large viewports where hover is available and will show color 
when active in hover*/

.blogpage {
    padding-top: 10dvh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogpage > h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.blogpost {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blogpost > a {
    color: var(--chartreuse);
    font-weight: 500;
    text-decoration: none;
}

.blogpost > .date {
    font-size: 0.75em;
}

.posts_img {
    height: 20dvh;
    width: 100%;
    border-radius: 1em;
    margin-right: 1em;
}

.posts_img:hover {
    filter: grayscale(0%)
}

/* footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding-top: 20dvh;
    font-size: 1em;
    width: 50%;
    padding-left: 1em;
}

/* desktop view */

@media screen and (min-width: 600px) {
    /* wrap for aesthetics and ease of navigating */
    .experience {
        display: flex;
        flex-wrap: wrap;
    }

    .experience > h1 {
        width: 100%;
        margin-bottom: 5dvh;
    }

    .expcontent {
        flex-direction: row;
        width: 50%;
    }
/* responsive to wrap into colum */
    .blogpage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .blogpage > h1 {
        width: 100%;
        margin-bottom: 5dvh;
    }

    .blogpost {
        width: 50%;
        padding: 1em;
    }

    .posts_img {
        filter: grayscale(90%);
    }

    .posts_img > a:hover {
        filter: grayscale(0%)
    }
    
}

/* another stage in responsiveness to help make website remain neat and tidy. */

@media screen and (min-width: 800px) {

    main {
        padding-right: 30%;
    }

    .homepage {
        font-size: 1.7em;
    }

    #scrolldown {
        display: none; 
    }

    .extra-content {
        display: inherit;
    }
    
    label {
        display: none;
    }

    .experience {
        display: flex;
        flex-wrap: wrap;
    }

    .experience > h1 {
        width: 100%;
        margin-bottom: 5dvh;
    }

    .expcontent {
        flex-direction: row;
        width: 33%;
    }

    .blogpage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .blogpage > h1 {
        width: 100%;
        margin-bottom: 5dvh;
    }

    .blogpost {
        width: 50%;
        padding: 1em;
    }

    .posts_img {
        filter: grayscale(90%);
    }

    .posts_img > a:hover {
        filter: grayscale(0%)
    }
    
}

/* eliminates menu at small viewport, and uses scroll for primary navigation */
@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }
}