:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

 * {
    margin: 0;
    background-color: var(--gunmetal);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* header styling */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5dvh;
    width: 100%;
}

.leftnav {
    color: var(--chartreuse);
    position: fixed;
    top: 6px;
    left: 6px; 
}

 .navbtn {
    background-color: var(--gunmetal);
    color: var(--chartreuse);
    border: none;
    font-size: 1.5em;
}

.dropdown-nav {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background-color: var(--gunmetal);
    min-width: 30dvw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--chartreuse);
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    width: 100%;
  }

.dropdown-content a:hover {
    background-color: var(--chartreuse);
    color: var(--gunmetal);
}

.dropdown-nav:hover .navbtn {background-color: var(--chartreuse);}

.show {
    display: flex;
    flex-direction: column;
    align-items: end;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 25dvh;
    padding-left: 15%;
    padding-right: 15%;

}

/* main homepage styling */

.homepage {
    color: var(--chartreuse);
    padding-right:30%;
    padding-bottom: 30dvh;
}


.homepage > h6 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 20px;
}

.homepage > h1 {
    font-size: 2em;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 15px;
}

.homepage > p {
    font-size: 1em;
    color: var(--white);
    float: right;
    margin-right: 0px;
    margin-top: 2dvh;
    margin-bottom: 5dvh;
}

#scrolldown {
    font-size: 2em;
    margin-bottom: 25dvh;
}


/* About styling */
 
.aboutpage > h1 {
    color: var(--chartreuse);
    font-weight: 600;
    font-size: 2em;
}

.aboutpage > img {
    float: left;
    height: 5em;
    width: 5em;
    border-radius: 1em;
    padding: 2em;
}

.aboutpage > p {
    color: var(--white);
}

#aboutdevimage {
    display: flex;
    justify-content: center;
    height: 10dvh;
    width: 80dvw;
}