:root {
    --gunmetal: #242f34ff;
    --white: #ffffffff;
    --chartreuse: #dfff00ff;
    }

 * {
    margin: 0;
    max-width: 100%;
    background-color: var(--gunmetal);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    transition: 1s;
}

/* header styling */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5dvh;
    width: 100%;
    padding: 0;
}

.mainlogo {
    color: var(--chartreuse);
    position: fixed;
    top: 6px;
    left: 6px; 
}


/* menu styles */
.menu {
    display: flex;
    position: fixed;
    padding: 0;
    border: none;
}


.menu ul {
  list-style: none;
}

.menu ul li {
  padding: 0;
  margin: 0;
}

.menu ul li a:link, .menu ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--white);
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: var(--chartreuse);
  color: var(--gunmetal);
}


/* styling for main body */

main {
    display: flex;
    flex-direction: column;
    margin-top: 25dvh;
    padding-left: 15%;
    padding-right: 15%;
}

/* main homepage styling */

.homepage {
    color: var(--chartreuse);
    padding-right:15%;
    padding-bottom: 25dvh;
}

.homepage > h6 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 20px;
}

.homepage > h1 {
    font-size: 2em;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 15px;
}

.homepage > p {
    font-size: 1em;
    color: var(--white);
    float: right;
    margin-right: 0px;
    margin-top: 2dvh;
    margin-bottom: 5dvh;
}

#scrolldown > aside {
    color: var(--white);
    font-size: 0.65em;
    display: flex;
    justify-content: end;
}
#scrolldown > a {
    display: flex;
    justify-content: end;
    font-size: 2em;
    margin-bottom: 25dvh;
    text-decoration: none;
}


/* About styling */
 
.aboutpage > h1 {
    color: var(--chartreuse);
    font-weight: 600;
    font-size: 2em;
    padding-top: 15dvh;
}

#portrait {
    float: left;
    height: 6em;
    width: 6em;
    border-radius: 2em;
    padding: 1em;
}

.aboutpage > p {
    color: var(--white);
}

#aboutdevimage {
    display: flex;
    justify-content: center;
    height: 10dvh;
    width: 75dvw;
    padding-bottom: 20dvh;
}

/* career styling */

.careerpage h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.careerpage {
    color: var(--white);
}

.careercontent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.careerlist {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* experience styling */

.experience {
    color: var(--white);
    padding-top: 20dvh;
}

.experience > h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

#resume {
    background-color: var(--gunmetal);
    border-radius: 0.5em;
    margin-bottom: 20dvh;
}

#resume > a {
    color: var(--chartreuse);
    background-color: var(--gunmetal);
    text-decoration: none;
}

#resume:hover {
    background-color: var(--chartreuse);
    color:var(--gunmetal);
}

#resume > a:hover {
    background-color: var(--chartreuse);
    color:var(--gunmetal);
}

/* contact styling */

.contactpage {
    color: var(--white);
    padding-top: 20dvh;
}
.contactpage > h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.contact-icons {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    color: var(--chartreuse);
    margin-top: 1em;
    font-size: 1em;
}

.social-icons {
    display: flex;
    max-width: 100%;
    color: var(--chartreuse);
    margin-top: 1em;
    font-size: 1em;
}


/* blog styling */

.blogpage {
    padding-top: 20dvh;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.blogpage > h1 {
    font-weight: 600;
    font-size: 2em;
    padding-top: 10dvh;
    border-bottom: 3px solid var(--chartreuse);
}

.blogpost {
    margin-bottom: 1em;
}

.blogpost > a {
    color: var(--chartreuse);
    font-weight: 500;
    text-decoration: none;
}

.posts_img {
    float: left;
    height: 6em;
    width: 6em;
    border-radius: 1em;
    margin-right: 1em;
}

/* wrapper styling */

.wrapper > a > img {
    display: block;
    height: 2em;
    width: 2em;
    max-width: 100%;
}

.wrapper {
    max-height:45dvh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:1fr 5fr;
    grid-gap: 20px;
    overflow: hidden;
    height: 100dvh;
}

.gallery > p {
    color: var(--white);
}

.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.gallery_img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    /* min-height: 100vh; */
    object-fit: cover;
}

.lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
}

.lil-nav a {
    display: flex;
    margin-bottom: 10px;
}

.lil-nav_img {
    object-fit: cover;
}

/* footer styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding-top: 20dvh;
    font-size: 1em;
}

/* desktop view */

@media screen and (min-width: 800px) {

    .homepage {
        font-size: 1.7em;
    }

    #scrolldown {
        display: none; 
    }

    .careerlist {
        flex: 33;
        max-width: 33dvh;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }
}